<template>
  <div>
    <h3>Редактирование бойцовского клуба</h3>

    <form @submit.prevent="update">
      <div class="form-group" :class="{'has-danger': errors.has('name')}">
        <label for="name">Название</label>
        <input type="text" id="name" class="form-control" v-model="name"
               v-validate.initial="name" data-as="название"
               data-rules="required">
        <span class="form-control-feedback" v-if="errors.has('name')">
          {{ errors.first('name') }}
        </span>
      </div>

      <div class="form-group"
           :class="{'has-danger': errors.has('membership_price')}">
        <label for="membership_price">Членский взнос</label>
        <!-- TODO change between:1,1000000000 when vee-validate will be updated -->
        <!-- TODO validate on blur when vee-validate will be updated -->
        <input type="text" id="membership_price" class="form-control"
               v-model="membership_price" v-validate.initial="membership_price"
               data-rules="required|numeric|between:1,1000000000">
        <span class="form-control-feedback"
              v-if="errors.has('membership_price')">
          {{ errors.first('membership_price') }}
        </span>
      </div>

      <router-link :to="{name: 'fight-club.show'}" tag="a" exact
                   class="btn btn-primary">
        Назад
      </router-link>
      <button class="btn btn-primary" :disabled="!fields.passed()">
        Обновить
      </button>
    </form>
  </div>
</template>

<script>
  import router from 'src/routes'

  export default {
    data: () => ({
      name: null,
      membership_price: null,
    }),
    methods: {
      fetchUser() {
        this.$http.get('/api/fight-club')
          .then(response => {
            this.name = response.body.data.name
            this.membership_price = response.body.data.membership_price
          })
      },
      update() {
        if (!this.fields.passed()) {
          return
        }

        this.$http.put('/api/fight-club', {
          name: this.name,
          membership_price: this.membership_price,
        })
          .then(response => {
            router.push({name: 'fight-club.show'})
          }, response => {
            this.$getValidationErrorsFromServer({response})
          })
      },
    },
    watch: {
      '$route': 'fetchUser',
    },
    created() {
      this.fetchUser()
    },
  }
</script>
