<template>
  <div>
    <h3>Выписать штраф участнику {{ user.name }}</h3>

    <form @submit.prevent="fine">
      <div class="form-group" :class="{'has-danger': errors.has('amount')}">
        <label for="amount">Сумма</label>
        <!-- TODO change between:1,1000000000 when vee-validate will be updated -->
        <input type="text" id="amount" class="form-control" v-model="amount"
               v-validate.initial="amount" data-as="сумма"
               data-rules="required|numeric|between:1,1000000000">
        <span class="form-control-feedback" v-if="errors.has('amount')">
          {{ errors.first('amount') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('comment')}">
        <label for="comment">Причина</label>
        <textarea type="text" id="comment" class="form-control" v-model="comment"
               v-validate.initial="comment" data-as="причина"
               data-rules="required|max:255">
        </textarea>
        <span class="form-control-feedback" v-if="errors.has('comment')">
          {{ errors.first('comment') }}
        </span>
      </div>

      <router-link :to="{name: 'fight-club.show'}" tag="a" exact
                   class="btn btn-primary">
        Назад
      </router-link>
      <button class="btn btn-primary" :disabled="!fields.passed()">
        Выписать
      </button>
    </form>
  </div>
</template>

<script>
  import router from 'src/routes'

  export default {
    data: () => ({
      amount: null,
      comment: null,
      user: {
        name: '',
      },
    }),
    methods: {
      fetchUser() {
        this.$http.get(`/api/users/${this.$route.params.user}`)
          .then(response => {
            this.user = response.body.data
          })
      },
      fine() {
        if (!this.fields.passed()) {
          return
        }

        this.$http.post(`/api/fight-club/fine/${this.user.id}`, {
          amount: this.amount,
          comment: this.comment,
        })
          .then(response => {
            router.push({name: 'fight-club.show'})
          }, response => {
            this.$getValidationErrorsFromServer({response})
          })
      },
    },
    watch: {
      '$route': 'fetchUser',
    },
    created() {
      this.fetchUser()
    },
  }
</script>
