<template>
  <div>
    <div class="card card-block">
      <h4 class="card-title">Клуб "{{ name }}"</h4>
      <p class="card-text">Членский взнос: {{ membership_price }}</p>
      <p class="card-text">Количество участников: {{ mc }}</p>
      <a href="#" class="btn btn-primary" v-if="canJoinOrLeaveClub && !j"
         @click.prevent="join">
        Вступить
      </a>
      <a href="#" class="btn btn-primary" v-if="canJoinOrLeaveClub && j"
         @click.prevent="leave">
        Покинуть
      </a>
    </div>
  </div>
</template>

<script>
  import store from 'src/vuex/store'

  export default {
    data: function () {
      return {
        mc: this.members_count,
        j: this.joined,
      }
    },
    props: {
      name: String,
      members_count: Number,
      membership_price: Number,
      id: Number,
      joined: Boolean,
    },
    computed: {
      canJoinOrLeaveClub: () => store.getters.can('join-leave-club'),
    },
    methods: {
      join() {
        this.$http.post(`/api/fight-clubs/${this.id}/join`)
          .then(response => {
            this.mc += 1
            this.j = true
          })
      },
      leave() {
        this.$http.post(`/api/fight-clubs/${this.id}/leave`)
          .then(response => {
            this.mc -= 1
            this.j = false
          })
      },
    },
  }
</script>
