<template>
  <div>
    <h3>Список бойцовских клубов</h3>

    <div class="col-sm-4" v-for="fight_club in fight_clubs">
      <list-item :name="fight_club.name"
                 :members_count="fight_club.members_count" :id="fight_club.id"
                 :joined="isJoined(fight_club.id)"
                 :membership_price="fight_club.membership_price">
      </list-item>
    </div>
  </div>
</template>

<script>
  import ListItem from './ListItem'

  export default {
    components: {
      ListItem,
    },
    data: () => ({
      fight_clubs: [],
      joined_fight_clubs: [],
    }),
    methods: {
      fetchFightClub() {
        this.$http.get('/api/fight-clubs')
          .then(response => {
            this.fight_clubs = response.body.data
            this.joined_fight_clubs = response.body.meta.joined_fight_clubs
          })
      },
      isJoined(id) {
        return this.joined_fight_clubs.includes(id)
      },
    },
    watch: {
      '$route': 'fetchFightClub',
    },
    created() {
      this.fetchFightClub()
    },
  }
</script>
