<template>
  <div class="member">
    <div class="card card-block text-xs-center">
      <h4 class="card-title">{{ name }}</h4>

      <ul class="list-group list-group-flush">
        <li class="list-group-item" v-if="canManageFightClub && !ex"
            @click.prevent="exclude">
          Исключить из клуба
        </li>
        <li class="list-group-item" v-if="canManageFightClub && ex"
            @click.prevent="excludeFromBlackList">
          Исключить из черного списка
        </li>
        <router-link :to="{name: 'fight-club.fine', params: {user: id}}"
                     tag="li" exact class="list-group-item">
          <a href="">Выписать штраф</a>
        </router-link>
      </ul>
    </div>
  </div>
</template>

<script>
  import store from 'src/vuex/store'

  export default {
    data: function () {
      return {
        ex: this.excluded,
      }
    },
    props: {
      name: String,
      id: Number,
      excluded: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      canManageFightClub: () => store.getters.can('manage-fight-club'),
    },
    methods: {
      exclude() {
        this.$http.post(`/api/fight-club/exclude/${this.id}`)
          .then(response => {
            this.ex = true
          })
      },
      excludeFromBlackList() {
        this.$http.post(`/api/fight-club/exclude-from-blacklist/${this.id}`)
          .then(response => {
            this.ex = false
          })
      },
    },
  }
</script>

<style scoped>
  .list-group-item {
    cursor: pointer;
  }

  .list-group-item a {
    color: inherit;
    text-decoration: none;
  }
</style>
