<template>
  <div>
    <div class="mb-2">
      <h3>Мой бойцовский клуб</h3>

      <p>Название: {{ name }}</p>
      <p>Членский взнос: {{ membership_price }}</p>

      <router-link :to="{name: 'fight-club.edit'}" tag="a" exact
                   class="btn btn-primary">
        Редактировать
      </router-link>
    </div>

    <div class="row" v-if="members.length">
      <h3 class="mb-1">Участники</h3>

      <div v-for="member in members" class="col-sm-4">
        <member :name="member.name" :id="member.id"></member>
      </div>
    </div>

    <div class="row" v-if="banned_users.length">
      <h3 class="mb-1">Забаненные пользователи</h3>

      <div v-for="user in banned_users" class="col-sm-4">
        <member :name="user.name" :id="user.id" :excluded="true"></member>
      </div>
    </div>
  </div>
</template>

<script>
  import Member from './Member'

  export default {
    components: {
      Member,
    },
    data: () => ({
      name: null,
      membership_price: null,
      members: [],
      banned_users: [],
    }),
    methods: {
      fetchUser() {
        this.$http.get('/api/fight-club')
          .then(response => {
            this.name = response.body.data.name
            this.membership_price = response.body.data.membership_price
            this.members = response.body.data.members.data
            this.banned_users = response.body.data.banned_users.data
          })
      },
    },
    watch: {
      '$route': 'fetchUser',
    },
    created() {
      this.fetchUser()
    },
  }
</script>
