<template>
  <div>
    <h3>Добавление собрания</h3>

    <form @submit.prevent="create">
      <div class="form-group" :class="{'has-danger': errors.has('at')}">
        <label>Дата собрания</label>
        <date-picker :date="startTime" :option="option"
                     :limit="limit"></date-picker>
        <span class="form-control-feedback" v-if="errors.has('at')">
          {{ errors.first('at') }}
        </span>
      </div>

      <div class="form-group"
           :class="{'has-danger': errors.has('accommodation')}">
        <label for="accommodation">Помещение</label>
        <!-- TODO change between:0,1000000000 when vee-validate will be updated -->
        <select name="accommodation" id="accommodation" class="form-control"
                v-model="accommodation" v-validate.initial="accommodation"
                data-rules="required|numeric|between:1,1000000000">
          <option :value="accommodation.id"
                  v-for="accommodation in accommodations">
            {{ accommodation.name + ', Адрес: ' + accommodation.attributes.address }}
          </option>
        </select>

        <span class="form-control-feedback" v-if="errors.has('role')">
          {{ errors.first('role') }}
        </span>
      </div>

      <router-link :to="{name: 'meetings.index'}" tag="a" exact
                   class="btn btn-primary">
        Назад
      </router-link>
      <button type="submit" class="btn btn-primary"
              :disabled="!fields.passed()">
        Добавить
      </button>
    </form>
  </div>
</template>

<script>
  import router from 'src/routes'
  import myDatepicker from 'vue-datepicker'

  export default {
    components: {
      'date-picker': myDatepicker,
    },
    data: () => ({
      accommodation: null,
      accommodations: [],
      at: null,

      startTime: {
        time: moment().format('YYYY-MM-DD'),
      },
      endtime: {
        time: '',
      },

      option: {
        type: 'day',
        week: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'],
        month: [
          'Январь',
          'Февраль',
          'Март',
          'Апрель',
          'Май',
          'Июнь',
          'Июль',
          'Август',
          'Сентябрь',
          'Октябрь',
          'Ноябрь',
          'Декабрь',
        ],
        format: 'YYYY-MM-DD',
        inputStyle: {
          'display': 'inline-block',
          'padding': '6px',
          'line-height': '22px',
          'font-size': '16px',
          'border': '2px solid #fff',
          'box-shadow': '0 1px 3px 0 rgba(0, 0, 0, 0.2)',
          'border-radius': '2px',
          'color': '#5F5F5F',
        },
        color: {
          header: '#ccc',
          headerText: '#f00',
        },
        buttons: {
          ok: 'Выбрать',
          cancel: 'Закрыть',
        },
        overlayOpacity: 0.5,
        dismissible: true,
      },
      limit: [
        {
          type: 'weekday',
          available: [0, 1, 2, 3, 4, 5, 6],
        },
        {
          type: 'fromto',
          from: moment().format('YYYY-MM-DD'),
          to: '',
        },
      ],
    }),
    methods: {
      create() {
        if (!this.fields.passed()) {
          return
        }

        this.$http.post('/api/meetings', {
          product_id: this.accommodation,
          at: this.startTime.time + ' 00:00:00',
        })
          .then(response => {
            router.push({name: 'meetings.index'})
          }, response => {
            this.$getValidationErrorsFromServer({response})

            if (response.status === 422) {
              const at = response.body.errors['at']
              if (at) {
                this.errors.add('at', at[0])
              }

              const productId = response.body.errors['product_id']
              if (productId) {
                this.errors.add('accommodation', productId[0])
              }
            }
          })
      },
      fetchAccommodations() {
        this.$http.get('/api/products?type=accommodation')
          .then(response => {
            this.accommodations = response.body.data
          })
      },
    },
    watch: {
      '$route': 'fetchAccommodations',
    },
    created() {
      this.fetchAccommodations()
    },
  }
</script>
