<template>
  <div>
    <h3>Собрания</h3>

    <div class="container" v-if="meetings.length">
      <div v-for="meeting in meetings" class="row">
        <meeting :meeting="meeting" class="mb-2"
                 v-on:destroy="destroy"></meeting>
      </div>
    </div>

    <div class="row">
      <router-link :to="{name: 'meetings.create'}" tag="a" exact
                   class="btn btn-primary">
        Добавить
      </router-link>
    </div>
  </div>
</template>

<script>
  import Meeting from './Meeting'

  export default {
    components: {
      Meeting,
    },
    data: () => ({
      meetings: [],
    }),
    methods: {
      fetchMeetings() {
        this.$http.get('/api/meetings')
          .then(response => {
            this.meetings = response.body.data
          })
      },
      destroy(id) {
        let index = null
        this.meetings.forEach((meeting, i) => {
          if (meeting.id === id) {
            index = i
          }
        })

        if (index !== null && index >= 0) {
          this.meetings.splice(index, 1)
        }
      },
    },
    watch: {
      '$route': 'fetchMeetings',
    },
    created() {
      this.fetchMeetings()
    },
  }
</script>
