<template>
  <div>
    <h3>Купить взрывчатки</h3>

    <div class="container" v-if="products.length">
      <div v-for="product in products" class="row">
        <bomb :bomb="product" class="mb-2"></bomb>
      </div>
    </div>
  </div>
</template>

<script>
  import Bomb from './Bomb'

  export default {
    components: {
      Bomb,
    },
    data: () => ({
      products: [],
    }),
    methods: {
      fetchProducts() {
        this.$http.get('/api/products?type=bomb')
          .then(response => {
            this.products = response.body.data
          })
      },
    },
    watch: {
      '$route': 'fetchProducts',
    },
    created() {
      this.fetchProducts()
    },
  }
</script>
