<template>
  <div>
    <div class="col-sm-8">
      <h4>{{ bomb.name }}</h4>
      <p>Вес: {{ bomb.attributes.weight }}</p>
      <p v-html="format(bomb.description)" v-if="bomb.description"></p>
    </div>

    <div class="col-sm-2 text-xs-right price">
      ${{ bomb.price }}
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" @click.prevent="buy">
        Купить
      </button>
    </div>
  </div>
</template>

<script>
  import {PUSH_MESSAGE} from 'src/vuex/action-types'
  import {SET_USER} from 'src/vuex/mutation-types'

  export default {
    props: {
      bomb: {
        type: Object,
        required: true,
      },
    },
    methods: {
      format(text) {
        return text.replace(/(?:\r\n|\r|\n)/g, '<br>')
      },
      buy() {
        this.$http.post(`/api/products/${this.bomb.id}`)
          .then(response => {
            this.$store.commit(SET_USER, {
              balance: this.$store.state.user.balance - this.bomb.price,
            })

            this.$store.dispatch(PUSH_MESSAGE, {
              msg: 'Бомба успешно куплена',
              type: 'success',
            })
          })
      },
    },
  }
</script>

<style>
  .price {
    vertical-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .list-group-item {
    cursor: pointer;
  }

  .list-group-item a {
    color: inherit;
    text-decoration: none;
  }
</style>
