<template>
  <div>
    <navbar></navbar>
    <messages></messages>

    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
  import Navbar from './Navbar'
  import Messages from './Messages/Messages'

  export default {
    components: {
      Navbar,
      Messages,
    },
  }
</script>

<style>
  @import "~bootstrap/dist/css/bootstrap.css";
  @import "~octicons/build/octicons.css";

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-active {
    opacity: 0;
  }
</style>
