<template>
  <div>
    <ul>
      <router-link :to="{name: 'balance.fill-up'}" tag="li" exact
                   v-if="canManageBalance">
        <a class="nav-link">Пополнить баланс</a>
      </router-link>
      <router-link :to="{name: 'fight-club.show'}" tag="li" exact
                   v-if="canManageFightClub">
        <a class="nav-link">Мой бойцовский клуб</a>
      </router-link>
      <router-link :to="{name: 'fight-clubs'}" tag="li" exact>
        <a class="nav-link">Список бойцовских клубов</a>
      </router-link>
      <router-link :to="{name: 'member.payments'}" tag="li" exact
                   v-if="isFightClubsMember">
        <a class="nav-link">Оплата</a>
      </router-link>
      <router-link :to="{name: 'products.index'}" tag="li" exact
                   v-if="canSell">
        <a class="nav-link">Мои товары</a>
      </router-link>
      <router-link :to="{name: 'owner.buy-bombs'}" tag="li" exact
                   v-if="canBuy">
        <a class="nav-link">Купить взрывчатки</a>
      </router-link>
      <router-link :to="{name: 'meetings.index'}" tag="li" exact
                   v-if="canManageFightClub">
        <a class="nav-link">Собрания</a>
      </router-link>
      <router-link :to="{name: 'member.meetings'}" tag="li" exact
                   v-if="isFightClubsMember">
        <a class="nav-link">Собрания</a>
      </router-link>
    </ul>
  </div>
</template>

<script>
  import store from 'src/vuex/store'

  export default {
    computed: {
      canManageBalance: () => store.getters.can('manage-balance'),
      canManageFightClub: () => store.getters.can('manage-fight-club'),
      canSell: () => store.getters.can('sell'),
      canBuy: () => store.getters.can('buy'),
      isFightClubsMember: () => store.getters.hasRole('fight-clubs-member'),
    },
  }
</script>
