<template>
  <div class="navbar navbar-light bg-faded">

    <ul class="nav navbar-nav">
      <li class="nav-item" v-if="!loggedIn">
        <a class="nav-link">Бойцовский клуб</a>
      </li>

      <router-link :to="{name: 'dashboard'}" tag="li" exact class="nav-item"
                   v-if="loggedIn">
        <a class="nav-link">Главная</a>
      </router-link>

      <router-link :to="{name: 'register'}" tag="li" exact
                   class="nav-item float-xs-right" v-if="!loggedIn">
        <a class="nav-link">Регистрация</a>
      </router-link>

      <router-link :to="{name: 'login'}" tag="li" exact
                   class="nav-item float-xs-right" v-if="!loggedIn">
        <a class="nav-link">Вход</a>
      </router-link>

      <li class="nav-item dropdown float-xs-right" v-if="loggedIn">
        <a class="nav-link dropdown-toggle" href="#"
           id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="true">
          {{ userName }} {{ `$${userBalance}` }}
        </a>

        <div class="dropdown-menu dropdown-menu-right"
             aria-labelledby="navbarDropdownMenuLink">
          <router-link :to="{name: 'profile'}" tag="a" exact
                       active-class="not-exists" class="dropdown-item">
            Профиль
          </router-link>
          <a class="dropdown-item" @click="logout">Выйти</a>
        </div>
      </li>

    </ul>

  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import {LOGOUT} from 'src/vuex/action-types'

  export default {
    computed: mapState({
      loggedIn: state => state.user.loggedIn,
      userName: state => state.user.name,
      userBalance: state => state.user.balance,
    }),
    methods: {
      logout() {
        this.$store.dispatch(LOGOUT, {redirect: 'login'})
      },
    },
  }
</script>

<style scoped>
  .dropdown-item {
    cursor: pointer;
  }
</style>
