<template>
  <div>
    <form @submit.prevent="login">

      <div class="form-group" :class="{'has-danger': errors.has('email')}">
        <label for="email">E-mail</label>
        <input type="text" id="email" class="form-control"
               placeholder="example@mail.com" v-model="email"
               v-validate.initial="email" data-rules="required|email">
        <span class="form-control-feedback" v-if="errors.has('email')">
          {{ errors.first('email') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('password')}">
        <label for="password">Пароль</label>
        <input type="password" id="password" class="form-control"
               v-model="password" v-validate.initial="password"
               data-rules="required|min:6">
        <span class="form-control-feedback" v-if="errors.has('password')">
          {{ errors.first('password') }}
        </span>
      </div>

      <button type="submit" class="btn btn-primary"
              :disabled="!fields.passed()">
        Зайти
      </button>
    </form>
  </div>
</template>

<script>
  import {LOGIN} from 'src/vuex/action-types'

  export default {
    data: () => ({
      email: null,
      password: null,
    }),
    methods: {
      login() {
        if (!this.fields.passed()) {
          return
        }

        this.$store.dispatch(LOGIN, {
          ctx: this,
          email: this.email,
          password: this.password,
          redirect: 'dashboard',
        })
      },
    },
  }
</script>
