<template>
  <div>
    <form @submit.prevent="register">

      <div class="form-group" :class="{'has-danger': errors.has('name')}">
        <label for="name">Никнейм</label>
        <input type="text" id="name" class="form-control" v-model="name"
               placeholder="taylor" v-validate.initial="name" data-as="никнейм"
               data-rules="required|max:255">
        <span class="form-control-feedback" v-if="errors.has('name')">
          {{ errors.first('name') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('email')}">
        <label for="email">E-mail</label>
        <input type="text" id="email" class="form-control"
               placeholder="example@mail.com" v-model="email"
               v-validate.initial="email" data-rules="required|email">
        <span class="form-control-feedback" v-if="errors.has('email')">
          {{ errors.first('email') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('password')}">
        <label for="password">Пароль</label>
        <input type="password" id="password" class="form-control"
               v-model="password" v-validate.initial="password"
               data-rules="required|min:6">
        <span class="form-control-feedback" v-if="errors.has('password')">
          {{ errors.first('password') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('balance')}">
        <label for="balance">Начальный капитал</label>
        <!-- TODO change between:0,1000000000 when vee-validate will be updated -->
        <input type="text" class="form-control" id="balance"
               placeholder="1000" v-model="balance"
               v-validate.initial="balance"
               data-rules="required|numeric|between:0,1000000000">
        <span class="form-control-feedback" v-if="errors.has('balance')">
            {{ errors.first('balance') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('role')}">
        <label for="role">Роль</label>
        <!-- TODO change between:0,1000000000 when vee-validate will be updated -->
        <select name="role" id="role" class="form-control" v-model="role"
                v-validate.initial="role"
                data-rules="required|numeric|between:1,1000000000">
          <option :value="role.id" v-for="role in roles">
            {{ role.display_name }}
          </option>
        </select>

        <span class="form-control-feedback" v-if="errors.has('role')">
          {{ errors.first('role') }}
        </span>
      </div>

      <div v-if="roleIs('fight-club-owner')">
        <div
          :class="{'has-danger': errors.has('fight_club_name'), 'form-group': true}">
          <label for="fight-club-name">Название бойцовского клуба</label>
          <!-- TODO add required-if rule, when vee will be updated. -->
          <input type="text" class="form-control" id="fight-club-name"
                 placeholder="Бойцовский клуб" v-model="fight_club_name"
                 data-as="название бойцовского клуба"
                 v-validate.initial="fight_club_name"
                 data-rules="max:255">
          <span class="form-control-feedback"
                v-if="errors.has('fight_club_name')">
            {{ errors.first('fight_club_name') }}
          </span>
        </div>

        <div class="form-group" :class="{'has-danger': errors.has('goal')}">
          <label for="goal">Цель</label>
          <!-- TODO change between:0,1000000000 when vee-validate will be updated -->
          <!-- TODO add required-if rule, when vee will be updated. -->
          <input type="text" class="form-control" id="goal"
                 placeholder="10000" v-model="goal" v-validate.initial="goal"
                 data-rules="numeric|between:0,1000000000">
          <span class="form-control-feedback" v-if="errors.has('goal')">
            {{ errors.first('goal') }}
          </span>
        </div>

        <div class="form-group"
             :class="{'has-danger': errors.has('membership_price')}">
          <label for="membership-price">Членский взнос</label>
          <!-- TODO add required-if rule, when vee will be updated. -->
          <input type="text" class="form-control" id="membership-price"
                 placeholder="10" v-model="membership_price"
                 v-validate.initial="membership_price"
                 data-rules="numeric|between:0,1000000000">
          <span class="form-control-feedback"
                v-if="errors.has('membership_price')">
            {{ errors.first('membership_price') }}
          </span>
        </div>
      </div>

      <button type="submit" class="btn btn-primary"
              :disabled="!fields.passed()">
        Зарегистрироваться
      </button>

    </form>

  </div>
</template>

<script>
  import {PUSH_MESSAGE, REGISTER} from 'src/vuex/action-types'
  import {Role} from 'src/resource'

  export default {
    data: () => ({
      name: null,
      email: null,
      password: null,
      fight_club_name: null,
      balance: null,
      goal: null,
      membership_price: null,
      role: 1,
      roles: [],
    }),
    methods: {
      register() {
        if (!this.fields.passed()) {
          return
        }

        this.$store.dispatch(REGISTER, {
          ctx: this,
          name: this.name,
          email: this.email,
          password: this.password,
          role: this.role,
          fightClubName: this.fight_club_name,
          balance: this.balance,
          goal: this.goal,
          membershipPrice: this.membership_price,
          redirect: 'dashboard',
        })
      },
      fetchRoles() {
        Role.get()
          .then(response => {
            this.roles = response.body.data
            this.role = this.roles[1].id
          }, response => {
            this.$store.dispatch(PUSH_MESSAGE, {
              msg: 'Не удалось получить список ролей',
              type: 'error',
            })
          })
      },
      roleIs(role) {
        for (const r of this.roles) {
          if (r.id === this.role && r.name === role) {
            return true
          }
        }

        return false
      },
    },
    watch: {
      '$route': 'fetchRoles',
    },
    created() {
      this.fetchRoles()
    },
  }
</script>
