<template>
  <div>
    <message v-for="message in messages" :msg="message.msg"
             :type="message.type" :id="message.id">
    </message>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  import Message from './Message'

  export default {
    components: {
      Message,
    },
    computed: mapState({
      messages: state => state.messages,
    }),
  }
</script>
