<template>
  <div>
    <div class="alert" :class="'alert-' + type" role="alert">
      <button type="button" class="close" @click="close">
        <span>&times;</span>
      </button>
      {{ msg }}
    </div>
  </div>
</template>

<script>
  import {REMOVE_MESSAGE_BY_ID} from 'src/vuex/mutation-types'

  export default {
    props: {
      msg: String,
      type: String,
      id: Number,
    },
    methods: {
      close() {
        this.$store.commit(REMOVE_MESSAGE_BY_ID, this.id)
      },
    },
  }
</script>
