<template>
  <div>
    <div class="card card-block">
      <h4 class="card-title">Клуб "{{ meeting.fightClub.data.name }}"</h4>
      <p class="card-text">Адрес: {{ meeting.address }}</p>
      <p class="card-text">Дата: {{ d }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      meeting: {
        type: Object,
        required: true,
      },
    },
    computed: {
      d: function () {
        return moment(this.meeting.at).format('YYYY-MM-DD')
      },
    },
    methods: {
      destroy() {
        this.$http.delete(`/api/meetings/${this.meeting.id}`)
          .then(response => {
            this.$emit('destroy', this.meeting.id)
          })
      },
    },
  }
</script>
