<template>
  <div>
    <h3>Собрания</h3>

    <div class="container" v-if="meetings.length">
      <div v-for="meeting in meetings" class="row">
        <meeting :meeting="meeting" class="mb-2"></meeting>
      </div>
    </div>
  </div>
</template>

<script>
  import Meeting from './Meeting'

  export default {
    components: {
      Meeting,
    },
    data: () => ({
      meetings: [],
    }),
    methods: {
      fetchMeetings() {
        this.$http.get('/api/meetings/member')
          .then(response => {
            this.meetings = response.body.data
          })
      },
    },
    watch: {
      '$route': 'fetchMeetings',
    },
    created() {
      this.fetchMeetings()
    },
  }
</script>
