<template>
  <div>
    <h3>Оплата</h3>

    <div class="container" v-if="payments.length">
      <div v-for="payment in payments" class="row">
        <payment :payment="payment"></payment>
      </div>
    </div>
  </div>
</template>

<script>
  import Payment from './Payment'

  export default {
    components: {
      Payment,
    },
    data: () => ({
      payments: [],
    }),
    methods: {
      fetchPayments() {
        this.$http.get('/api/payments')
          .then(response => {
            this.payments = response.body.data
          })
      },
    },
    watch: {
      '$route': 'fetchPayments',
    },
    created() {
      this.fetchPayments()
    },
  }
</script>
