<template>
  <div>
    <div class="col-sm-8">
      <div class="container">
        <div class="row">
          <img src="~octicons/build/svg/bell.svg"
               class="octicon octicon-bell col-sm-2">

          <div class="col-sm-10">
            <h4 v-if="payment.type === 'membership'">Членский взнос</h4>
            <h4 v-if="payment.type === 'fine'">Штраф</h4>

            <p>{{ payment.comment }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2 amount text-xs-right">
      ${{ payment.amount }}
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary" @click.prevent="pay" v-if="!paid">
        Оплатить
      </button>
      <button class="btn btn-primary" v-if="paid" disabled>
        Оплачено
      </button>
    </div>
  </div>
</template>

<script>
  import {SET_USER} from 'src/vuex/mutation-types'

  export default {
    data: () => ({
      paid: false,
    }),
    props: {
      payment: {
        type: Object,
        required: true,
      },
    },
    methods: {
      pay() {
        this.$http.post(`/api/payments/pay/${this.payment.id}`)
          .then(response => {
            this.paid = true

            this.$store.commit(SET_USER, {
              balance: this.$store.state.user.balance - this.payment.amount,
            })
          })
      },
    },
  }
</script>

<style scoped>
  .octicon-bell {
    width: 80px;
    height: 80px;
  }

  .amount {
    vertical-align: center;
    font-size: 20px;
    font-weight: bold;
  }
</style>
