<template>
  <div>
    <h3>Редактирование профиля</h3>

    <form @submit.prevent="update">
      <div class="form-group" :class="{'has-danger': errors.has('user.name')}">
        <label for="name">Ник</label>
        <input type="text" id="name" class="form-control" v-model="user.name"
               v-validate.initial="user.name" data-as="ник"
               data-rules="required|max:255">
        <span class="form-control-feedback" v-if="errors.has('user.name')">
          {{ errors.first('user.name') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('user.email')}">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" v-model="user.email"
               v-validate.initial="user.email" data-rules="required|email">
        <span class="form-control-feedback" v-if="errors.has('user.email')">
          {{ errors.first('user.email') }}
        </span>
      </div>

      <div class="form-group"
           :class="{'has-danger': errors.has('old_password')}">
        <label for="old_password">Старый пароль</label>
        <input type="password" id="old_password" class="form-control"
               v-model="old_password" data-as="старый пароль"
               v-validate.initial="old_password" data-rules="required|min:6">
        <span class="form-control-feedback" v-if="errors.has('old_password')">
          {{ errors.first('old_password') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('password')}">
        <label for="password">Новый пароль</label>
        <input type="password" id="password" class="form-control"
               v-model="password" v-validate.initial="password"
               data-rules="required|min:6">
        <span class="form-control-feedback" v-if="errors.has('password')">
          {{ errors.first('password') }}
        </span>
      </div>

      <div class="form-group" v-if="isFightClubOwner"
           :class="{'has-danger': errors.has('user.attributes.goal')}">
        <label for="goal">Цель</label>
        <!-- TODO change between:1,1000000000 when vee-validate will be updated -->
        <input type="text" id="goal" class="form-control"
               v-model="user.attributes.goal"
               v-validate.initial="user.attributes.goal"
               data-rules="numeric|between:0,1000000000">
        <span class="form-control-feedback"
              v-if="errors.has('user.attributes.goal')">
          {{ errors.first('user.attributes.goal') }}
        </span>
      </div>

      <router-link :to="{name: 'profile'}" tag="a" exact
                   class="btn btn-primary">
        Назад
      </router-link>
      <button class="btn btn-primary" :disabled="!fields.passed()">
        Обновить
      </button>
    </form>
  </div>
</template>

<script>
  import store from 'src/vuex/store'
  import router from 'src/routes'

  export default {
    data: () => ({
      old_password: '',
      password: '',
      user: {
        name: '',
        email: '',
        attributes: {},
      },
    }),
    computed: {
      isFightClubOwner: () => store.getters.hasRole('fight-club-owner'),
    },
    methods: {
      fetchUser() {
        this.$http.get('/api/user')
          .then(response => {
            this.user = response.body.data
          })
      },
      update() {
        if (!this.fields.passed()) {
          return
        }

        this.$http.put('/api/profile', {
          name: this.user.name,
          email: this.user.email,
          password: this.password,
          old_password: this.old_password,
          goal: this.user.attributes.goal,
        })
          .then(response => {
            router.push({name: 'profile'})
          }, response => {
            this.$getValidationErrorsFromServer({response})

            // TODO move to common method.
            if (response.status === 422) {
              const goal = response.body.errors['goal']
              if (goal) {
                this.errors.add('user.attributes.goal', goal[0])
              }
            }
          })
      },
    },
    watch: {
      '$route': 'fetchUser',
    },
    created() {
      this.fetchUser()
    },
  }
</script>
