<template>
  <div>
    <h3>Профиль</h3>

    <p>Ник: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Баланс: {{ user.balance }}</p>
    <p v-if="isFightClubOwner">Цель: {{ user.attributes.goal }}</p>
    <p v-if="isFightClubOwner">
      Масса купленной взрывчатки: {{ user.attributes.bombs_weight }}
    </p>

    <router-link :to="{name: 'profile.edit'}" tag="a" exact
                 class="btn btn-primary">
      Редактировать
    </router-link>
  </div>
</template>

<script>
  import store from 'src/vuex/store'

  export default {
    data: () => ({
      user: {
        attributes: {},
      },
    }),
    computed: {
      isFightClubOwner: () => store.getters.hasRole('fight-club-owner'),
    },
    methods: {
      fetchUser() {
        this.$http.get('/api/user')
          .then(response => {
            this.user = response.body.data
          })
      },
    },
    watch: {
      '$route': 'fetchUser',
    },
    created() {
      this.fetchUser()
    },
  }
</script>
