<template>
  <div>
    <h3>Добавление товара</h3>

    <form @submit.prevent="create">
      <div class="form-group" :class="{'has-danger': errors.has('name')}">
        <label for="name">Название</label>
        <input type="text" id="name" class="form-control" v-model="name"
               v-validate.initial="name" data-as="название"
               data-rules="required|max:255">
        <span class="form-control-feedback" v-if="errors.has('name')">
          {{ errors.first('name') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('weight')}"
           v-if="isBombSeller">
        <label for="weight">Вес</label>
        <!-- TODO change between:1,1000000000 when vee-validate will be updated -->
        <input type="text" id="weight" class="form-control" v-model="weight"
               placeholder="100" v-validate.initial="weight" data-as="цена"
               data-rules="required|numeric|between:1,1000000000">
        <span class="form-control-feedback" v-if="errors.has('weight')">
          {{ errors.first('weight') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('address')}"
           v-if="!isBombSeller">
        <label for="address">Адрес</label>
        <!-- TODO change between:1,1000000000 when vee-validate will be updated -->
        <input type="text" id="address" class="form-control" v-model="address"
               v-validate.initial="address" data-as="адрес"
               data-rules="required|max:255">
        <span class="form-control-feedback" v-if="errors.has('address')">
          {{ errors.first('address') }}
        </span>
      </div>

      <div class="form-group"
           :class="{'has-danger': errors.has('description')}">
        <label for="description">Описание</label>
        <textarea type="text" id="description" class="form-control"
                  v-model="description">
        </textarea>
        <span class="form-control-feedback" v-if="errors.has('description')">
          {{ errors.first('description') }}
        </span>
      </div>

      <div class="form-group" :class="{'has-danger': errors.has('price')}">
        <label for="price">Цена</label>
        <!-- TODO change between:1,1000000000 when vee-validate will be updated -->
        <input type="text" id="price" class="form-control" v-model="price"
               placeholder="100" v-validate.initial="price" data-as="цена"
               data-rules="required|numeric|between:1,1000000000">
        <span class="form-control-feedback" v-if="errors.has('price')">
          {{ errors.first('price') }}
        </span>
      </div>

      <router-link :to="{name: 'products.index'}" tag="a" exact
                   class="btn btn-primary">
        Назад
      </router-link>
      <button type="submit" class="btn btn-primary"
              :disabled="!fields.passed()">
        Добавить
      </button>
    </form>
  </div>
</template>

<script>
  import router from 'src/routes'
  import store from 'src/vuex/store'

  export default {
    data: () => ({
      name: null,
      description: null,
      price: null,
      weight: null,
      address: null,
    }),
    computed: {
      isBombSeller: () => store.getters.hasRole('bomb-seller'),
    },
    methods: {
      create() {
        if (!this.fields.passed()) {
          return
        }

        this.$http.post('/api/products', {
          name: this.name,
          description: this.description,
          price: this.price,
          type: this.isBombSeller ? 'bomb' : 'accommodation',
          weight: this.weight,
          address: this.address,
        })
          .then(response => {
            router.push({name: 'products.index'})
          }, response => {
            this.$getValidationErrorsFromServer({response})
          })
      },
    },
  }
</script>
