<template>
  <div>
    <form @submit.prevent="update">
      <div class="form-group"
           :class="{'has-danger': errors.has('product.name')}">
        <label for="name">Название</label>
        <input type="text" id="name" class="form-control" v-model="product.name"
               v-validate.initial="product.name" data-as="название"
               data-rules="required|max:255">
        <span class="form-control-feedback" v-if="errors.has('product.name')">
          {{ errors.first('product.name') }}
        </span>
      </div>

      <div class="form-group"
           :class="{'has-danger': errors.has('product.attributes.weight')}"
           v-if="isBombSeller">
        <label for="weight">Вес</label>
        <!-- TODO change between:1,1000000000 when vee-validate will be updated -->
        <input type="text" id="weight" class="form-control"
               v-model="product.attributes.weight"
               placeholder="100" v-validate.initial="product.attributes.weight"
               data-as="вес"
               data-rules="required|numeric|between:1,1000000000">
        <span class="form-control-feedback"
              v-if="errors.has('product.attributes.weight')">
          {{ errors.first('product.attributes.weight') }}
        </span>
      </div>

      <div class="form-group"
           :class="{'has-danger': errors.has('product.attributes.address')}"
           v-if="!isBombSeller">
        <label for="address">Адрес</label>
        <input type="text" id="address" class="form-control"
               v-model="product.attributes.address"
               v-validate.initial="product.attributes.address" data-as="адрес"
               data-rules="required|max:255">
        <span class="form-control-feedback"
              v-if="errors.has('product.attributes.address')">
          {{ errors.first('product.attributes.address') }}
        </span>
      </div>

      <div class="form-group"
           :class="{'has-danger': errors.has('product.description')}">
        <label for="description">Описание</label>
        <textarea type="text" id="description" class="form-control"
                  v-model="product.description">
        </textarea>
        <span class="form-control-feedback"
              v-if="errors.has('product.description')">
          {{ errors.first('product.description') }}
        </span>
      </div>

      <div class="form-group"
           :class="{'has-danger': errors.has('product.price')}">
        <label for="product.price">Цена</label>
        <!-- TODO change between:1,1000000000 when vee-validate will be updated -->
        <input type="text" id="product.price" class="form-control"
               v-model="product.price" v-validate.initial="product.price"
               data-as="цена"
               data-rules="required|numeric|between:1,1000000000">
        <span class="form-control-feedback" v-if="errors.has('product.price')">
          {{ errors.first('product.price') }}
        </span>
      </div>

      <router-link :to="{name: 'products.index'}" tag="a" exact
                   class="btn btn-primary">
        Назад
      </router-link>
      <button type="submit" class="btn btn-primary"
              :disabled="!fields.passed()">
        Обновить
      </button>
    </form>
  </div>
</template>

<script>
  import router from 'src/routes'
  import store from 'src/vuex/store'

  export default {
    data: () => ({
      product: {
        name: null,
        description: null,
        price: null,
        attributes: {},
      },
    }),
    computed: {
      isBombSeller: () => store.getters.hasRole('bomb-seller'),
    },
    methods: {
      fetchProduct() {
        this.$http.get(`/api/products/${this.$route.params.productId}`)
          .then(response => {
            this.product = response.body.data
          })
      },
      update() {
        if (!this.fields.passed()) {
          return
        }

        this.$http.put(`/api/products/${this.product.id}`, {
          name: this.product.name,
          description: this.product.description,
          price: this.product.price,
          type: this.isBombSeller ? 'bomb' : 'accommodation',
          weight: this.isBombSeller ? this.product.attributes.weight : '',
          address: !this.isBombSeller ? this.product.attributes.address : '',
        })
          .then(response => {
            router.push({name: 'products.index'})
          }, response => {
            this.$getValidationErrorsFromServer({response, prefix: 'product.'})

            // TODO move to common method.
            if (response.status === 422) {
              const weight = response.body.errors['weight']
              if (weight) {
                this.errors.add('product.attributes.weight', weight[0])
              }

              const address = response.body.errors['address']
              if (address) {
                this.errors.add('product.attributes.address', address[0])
              }
            }
          })
      },
    },
    watch: {
      '$route': 'fetchProduct',
    },
    created() {
      this.fetchProduct()
    },
  }
</script>
