<template>
  <div>
    <h3>Мои товары</h3>

    <div class="container" v-if="products.length">
      <div v-for="product in products" class="row">
        <product :product="product" class="mb-2"
                 v-on:destroy="destroy"></product>
      </div>
    </div>

    <div class="row">
      <router-link :to="{name: 'products.create'}" tag="a" exact
                   class="btn btn-primary">
        Добавить
      </router-link>
    </div>
  </div>
</template>

<script>
  import store from 'src/vuex/store'
  import Product from './Product'

  export default {
    components: {
      Product,
    },
    data: () => ({
      products: [],
    }),
    computed: {
      isBombSeller: () => store.getters.hasRole('bomb-seller'),
    },
    methods: {
      fetchProducts() {
        const type = this.isBombSeller ? 'bomb' : 'accommodation'

        this.$http.get(`/api/products/my?type=${type}`)
          .then(response => {
            this.products = response.body.data
          })
      },
      destroy(id) {
        let index = null
        this.products.forEach((product, i) => {
          if (product.id === id) {
            index = i
          }
        })

        if (index !== null && index >= 0) {
          this.products.splice(index, 1)
        }
      },
    },
    watch: {
      '$route': 'fetchProducts',
    },
    created() {
      this.fetchProducts()
    },
  }
</script>
