<template>
  <div>
    <div class="col-sm-8">
      <h4>{{ product.name }}</h4>
      <p v-if="isBombSeller">Вес: {{ product.attributes.weight }}</p>
      <p v-if="!isBombSeller">Адрес: {{ product.attributes.address }}</p>
      <p v-html="format(product.description)" v-if="product.description"></p>
    </div>

    <div class="col-sm-2 text-xs-right price">
      ${{ product.price }}
    </div>
    <div class="col-sm-2">
      <ul class="list-group list-group-flush">
        <router-link
          :to="{name: 'products.edit', params: {productId: product.id}}"
          tag="li" exact class="list-group-item">
          <a href="">Редактировать</a>
        </router-link>
        <li class="list-group-item" @click.prevent="destroy">
          Удалить
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import store from 'src/vuex/store'

  export default {
    props: {
      product: {
        type: Object,
        required: true,
      },
    },
    computed: {
      isBombSeller: () => store.getters.hasRole('bomb-seller'),
    },
    methods: {
      format(text) {
        return text.replace(/(?:\r\n|\r|\n)/g, '<br>')
      },
      destroy() {
        this.$http.delete(`/api/products/${this.product.id}`)
          .then(response => {
            this.$emit('destroy', this.product.id)
          })
      },
    },
  }
</script>

<style>
  .price {
    vertical-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .list-group-item {
    cursor: pointer;
  }

  .list-group-item a {
    color: inherit;
    text-decoration: none;
  }
</style>
