<template>
  <div>
    <h3>Пополнение баланса</h3>

    <form @submit.prevent="fillUp">
      <div class="form-group" :class="{'has-danger': errors.has('amount')}">
        <label for="amount">Сумма</label>
        <!-- TODO change between:1,1000000000 when vee-validate will be updated -->
        <input type="text" id="amount" class="form-control" v-model="amount"
               placeholder="100" v-validate.initial="amount" data-as="сумма"
               data-rules="required|numeric|between:1,1000000000">
        <span class="form-control-feedback" v-if="errors.has('amount')">
          {{ errors.first('amount') }}
        </span>
      </div>

      <button type="submit" class="btn btn-primary"
              :disabled="!fields.passed()">
        Пополнить
      </button>
    </form>

  </div>
</template>

<script>
  import router from 'src/routes'
  import {SET_USER} from 'src/vuex/mutation-types'

  export default {
    data: () => ({
      amount: null,
    }),
    methods: {
      fillUp() {
        if (!this.fields.passed()) {
          return
        }

        this.$http.post('/api/balance/fill-up', {amount: this.amount})
          .then(response => {
            this.$store.commit(SET_USER, {
              balance: this.$store.state.user.balance + parseInt(this.amount),
            })

            router.push({name: 'dashboard'})
          }, response => {
            this.$getValidationErrorsFromServer({response})
          })
      },
    },
  }
</script>
